body {
    background: #f0f0f0;
}

.component {
	display: flex;
	border: 1px solid grey;
}
.app {
	height: 98vh;
	flex-direction: column;
}

.edit {
	height: 90%;
}

.header {
	height: 10%;
	background-image: radial-gradient(ellipse farthest-corner at center top, #9ab1c7 0%, #1a242f 100%);
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.present {
	height: 90%;
}

.add-slide {

}

.controls {
	flex-direction: column;
	align-content: space-around;
	justify-content: space-between;
}

.edit-btn {

}

.next-slide {

}

.present-btn {

}

.prev-slide {

}

.remove-slide {

}

.current-slide {
	height: 100%;
	flex-direction: column;
	width: 80%;
	text-align: center;
}

.text, .pic {
	height: 50%;
	width: 70%;
}

.title {
	height: 10%;
	width: 70%;
}

.text > input, .title > input{
	width: 100%;
	text-align: center;
}

.title-text, .title-only, .title-pic {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 95%;
}
.sidebar {
	height: 100%;
	width: 20%;
	flex-direction: column;
}

.slide-type-chooser {
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.sidebar-title-text, .sidebar-title-pic, .sidebar-title-only {
	height: 20%;
	width: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.sidebar-title-text {
	background-image: url('http://www70.zippyshare.com/i/0hUrUYLY/112235/title-text.jpg');
}

.sidebar-title-pic {
	background-image: url('http://www70.zippyshare.com/i/FcLODqlr/903500/title-pic.jpg');
}

.sidebar-title-only {
	background-image: url('http://www46.zippyshare.com/i/zd785nPl/296227/title-only.jpg');
}
