body {
    background: #f0f0f0;
}

.component {
	display: flex;
	border: 1px solid orange;
}
.app {
	height: 98vh;
	flex-direction: column;
}

.edit {
	height: 90%;
}

.header {
	height: 10%;
}

.present {
	height: 90%;
	// temporary:
	display: none;
}

.add-slide {

}

.controls {
	flex-direction: column;
	align-content: space-around;
	justify-content: space-between;
}

.edit-btn {

}

.next-slide {

}

.present-btn {

}

.prev-slide {

}

.remove-slide {

}

.current-slide {
	flex-direction: column;
	width: 80%;
}

.pic {

}

.text {

}

.title {

}

.title-only {
	flex-direction: column;
	// temporary:
	display: none;
}
.title-pic {
	flex-direction: column;
	// temporary:
	display: none;
}
.title-text {
	flex-direction: column;
}
.sidebar {
	flex-direction: column;
	width: 20%;
}
.slide-type-chooser {
	flex-direction: column;
	// temporary:
	display: none;
}
